.sass-cache/*
.DS_Store
.htaccess
site/wp-config.php
site/wp-content/uploads/
site/wp-content/blogs.dir/
site/wp-content/upgrade/
site/wp-content/backup-db/
site/wp-content/advanced-cache.php
site/wp-content/wp-cache-config.php
site/sitemap.xml
site/*.log
site/wp-content/cache/
site/wp-content/backups/
site/sitemap.xml
site/sitemap.xml.gz

*.DS_Store
node_modules
components/
backup/
.sass-cache
.sass-cache/*
icon-*.png
site/wp-content/themes/mst/images/icon-*.png

site/*
!.gitignore
!site/wp-content/
!*.sql
!sass/*

site/wp-content/*
!site/wp-content/plugins/
!site/wp-content/themes/

# Ignore everything in the "plugins" directory, except the plugins you
# specify (see the commented-out examples for hints on how to do this.)
site/wp-content/plugins/*

site/wp-content/themes/*
!site/wp-content/themes/ingadget/